<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-8 col-md-offset-2">
          <div class="panel panel-default">
            <div class="panel-body">
              <h2 class='bold text-center'>
                Edit <%= resource_name.to_s.humanize %>      
              </h2>
              <hr>

              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { id: 'pfForm', method: :put }) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>

                <div class="field">
                  <%= f.label :avatar, 'Avatar' %>
                  <%= f.file_field :avatar %>
                </div>
                
                <div class="field">
                  <%= f.label :name, 'Nome da Empresa' %>
                  <%= f.text_field :name, class: 'form-control', required: 'required',
                  placeholder: 'Digite o nome da empresa', autocomplete: 'off' %>
                </div>

                <div class="field">
                  <%= f.label :document, 'CNPJ' %>
                  <%= f.text_field :document, class: 'form-control', required: 'required',
                  placeholder: 'Digite o CNPJ', autocomplete: 'off' %>
                </div>

                <div class="field">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email",
                  class: 'form-control', required: 'required', placeholder: 'Digite o e-mail' %>
                </div>

                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                <% end %>

                <div class="field">
                  <%= f.label :password, 'Senha' %> <i>(leave blank if you don't want to change it)</i><br />
                  <%= f.password_field :password, autocomplete: "new-password",
                  class: 'form-control', required: 'required', placeholder: 'Digite a senha' %>
                  <% if @minimum_password_length %>
                    <em><%= @minimum_password_length %> characters minimum</em>
                  <% end %>
                </div>

                <div class="field">
                  <%= f.label :password_confirmation, 'Confirmar Senha' %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "new-password",
                  class: 'form-control', required: 'required', placeholder: 'Confirme sua senha' %>
                </div>

                <div class="field">
                  <%= f.label :current_password, 'Senha atual' %> 
                  <i>(we need your current password to confirm your changes)</i><br />
                  <%= f.password_field :current_password, autocomplete: "current-password",
                  class: 'form-control', required: 'required', placeholder: 'Senha atual' %>
                </div>

                <div class="actions"><br>
                  <%= f.submit "Atualizar", class: 'btn btn-primary btn-lg top' %>
                </div>
              <% end %>

              <h3>Cancel my account</h3>
              <hr>

              <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name),
              data: { confirm: "Are you sure?" }, method: :delete,
              class: 'btn btn-danger btn-lg top' %></p>

              <%= link_to "Back", :back %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>