<%= form_for(job, html: { id: 'pfForm' }) do |f| %>
	
	<% if job.errors.any? %>
		<div class="alert alert-danger">
			<h2><%= pluralize(job.errors.count, 'error') %> 
			impedem que esta vaga seja salva.</h2>

			<ul>
				<%= job.errors.full_messages.each do |msg| %>
				  <li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :title, 'Titulo da Vaga' %>
		<%= f.text_field :title, class: 'form-control', required: 'required',
		placeholder: 'Digite o titulo', autocomplete: 'off' %>
	</div>

	<div class="field">
		<%= f.label :hiring_type_id, 'Tipo de Contratação' %>
		<%= f.collection_select(:hiring_type_id, HiringType.order(:name), 
      :id, :name, { prompt: 'Selecionar Tipo de contratação' },
		{ class: 'form-control', required: 'required'}) %>
	</div>

	<div class="field">
		<%= f.label :modality_id, 'Modalidade' %>
		<%= f.collection_select(:modality_id, Modality.order(:name), 
    :id, :name, { prompt: 'Selecionar Modalidade' },
		{ class: 'form-control', required: 'required'}) %>
	</div>

	<div class="field">
		<%= f.label :period_id, 'Periodo' %>
		<%= f.collection_select(:period_id, Period.order(:name), 
		:id, :name, { prompt: 'Selecionar Modalidade' },
		{ class: 'form-control', required: 'required'}) %>
	</div>

	<div class="field">
		<%= f.label :occupation_area_id, 'Área de Ocupação' %>
		<%= f.collection_select(:occupation_area_id, OccupationArea.all,
    :id, :name, { prompt: 'Selecionar Área de Ocupação' }, 
    { class: 'form-control', required: 'required' }) %>
	</div>

  <div class="field">
    <%= f.label :salary_id, 'Faixa Salarial' %>
    <%= f.collection_select(:salary_id, Salary.all,
    :id, :name, { prompt: 'Selecionar Faixa Salarial'},
    { class: 'form-control', required: 'required' }) %>
  </div>

  <div class="field">
    <%= f.label :deficiency_id, 'Vaga para deficiente?' %>
    <%= f.collection_select(:deficiency_id, Deficiency.all,
    :id, :name, { prompt: 'Selecionar Deficiência'},
    { class: 'form-control' }) %>
  </div>

	<div class="field">
		<%= f.label :description, 'Descrição da Vaga' %>
		<%= f.text_area :description, class: 'form-control',
		placeholder: 'Digite a descrição', autocomplete: 'off', id: 'pfeditor',
		value: (job.new_record?) ? load_job_description : job.description %>
	</div>

	<div class="field">
		<%= f.label :location, 'Localização' %>
		<%= f.text_field :location, class: 'form-control', required: 'required',
		placeholder: 'Digite a localização', autocomplete: 'off' %>
	</div>

  <div class="field">
    <%= f.label :state_id, 'Estado' %>
    <%= f.collection_select(:state_id, State.where(name: 'Rio Grande do Sul'), 
    :id, :name, { prompt: 'Selecionar Estado' }, { class: 'form-control', 
    required: 'required' }) %>
  </div>

  <div class="field">
    <%= f.label :city_id, 'Cidade' %>
    <%= f.collection_select(:city_id, City.available_cities.order(:name), :id, :name,
    { prompt: 'Selecionar Cidade' }, { class: 'form-control', required: 'required' }) %>
  </div>

	<div class="field">
		<%= f.label :apply_path, 'Para candidatar-se' %>
		<%= f.text_field :apply_path, class: 'form-control', required: 'required',
		placeholder: 'Email da empresa ou endereço da vaga', autocomplete: 'off' %>
	</div>

	<div class="actions"><br />
		<%= f.submit nil, class: 'btn btn-primary btn-lg top' %>
	</div>
<% end %>