<%= provide :title, '' %>
<%= provide :description, '' %>
<%= provide :keywords, '' %>
<%= provide :ld_json, {} %>

<%= render partial: 'shared/presenter' %>

<section id="content">
	<div class="container">
		<div class="row">
      <div class='col-md-3'>
        <div class="row">
          <div class="col-md-12">
            <div class='panel panel-default'>
              <div class='panel-body'>
                <h4 class='bold'>
                <i class="fa-solid fa-angle-right"></i>
                Refinar por cidade</h4>
                <ul class='list-unstyled'>
                  <% City.available_cities
                    .limit(8).each do |city| %>
                  <li>
                    <%= link_to '' do %>
                      <%= city.name %> 
                      <span class='bold'>
                        (<%= city.jobs.count %>)
                      </span>
                    <% end %>
                  </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class='panel panel-default'>
              <div class='panel-body'>
                <h4 class='bold'>
                <i class="fa-solid fa-angle-right"></i>
                Refinar por Áreas de atuação</h4>
                <ul class='list-unstyled'>
                  <% OccupationArea.all
                    .limit(6).each do |area| %>
                  <li>
                    <%= link_to '' do %>
                      <%= area.name %> 
                      <span class='bold'>
                        (<%= area.jobs.count %>)
                      </span>
                    <% end %>
                  </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class='panel panel-default'>
              <div class='panel-body'>
                <h4 class='bold'>
                <i class="fa-solid fa-angle-right"></i>
                Refinar por Modalidade</h4>
                <ul class='list-unstyled'>
                  <% Modality.all
                    .limit(6).each do |modality| %>
                  <li>
                    <%= link_to '' do %>
                      <%= modality.name %> 
                      <span class='bold'>
                        (<%= modality.jobs.count %>)
                      </span>
                    <% end %>
                  </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class='panel panel-default'>
              <div class='panel-body'>
                <h4 class='bold'>
                <i class="fa-solid fa-angle-right"></i>
                Refinar por periodo</h4>
                <ul class='list-unstyled'>
                  <% Period.all
                    .limit(6).each do |period| %>
                  <li>
                    <%= link_to '' do %>
                      <%= period.name %> 
                      <span class='bold'>
                        (<%= period.jobs.count %>)
                      </span>
                    <% end %>
                  </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class='panel panel-default'>
              <div class='panel-body'>
                <h4 class='bold'>
                <i class="fa-solid fa-angle-right"></i> 
                Refinar por Tipo de contratação</h4>
                <ul class='list-unstyled'>
                  <% HiringType.all
                    .limit(6).each do |type| %>
                  <li>
                    <%= link_to '' do %>
                      <%= type.name %> 
                      <span class='bold'>
                        (<%= type.jobs.count %>)
                      </span>
                    <% end %>
                  </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

			<div class="col-md-9">
				<div id="filtering" 
        style='padding-top: 10px; padding-bottom: 20px;'>
					<h4 class='bold'>
					<span class='badge'>
						<i class="fa-solid fa-briefcase-blank"></i>.	
					</span>
					Pesquisar por:</h4>
					<ul class="list-unstyled list-inline">
						<li>
							<%= link_to company_jobs_path do %>
								<span class="badge pf-span">
									Minhas vagas
								</span>
							<% end %>
						</li>
						<li>
							<%= link_to jobs_path do %>
								<span class='badge pf-span'>
									<%= Job.available.count %> Vagas ativas
								</span>
							<% end %>
						</li>
						<li>
							<%= link_to expirated_jobs_path do %>
								<span class="badge pf-span">
									<%= Job.expirated.count %> Vagas expiradas
								</span>
							<% end %>
						</li>
						<li>
							<span class='badge pf-span'>
								<%= Job.available.count %> total vagas
							</span>
						</li>
						<li class='pull-right'>
							<%= link_to yearly_jobs_path do %>
								<span class='badge pf-span'>
									Anual
								</span>
							<% end %>							
						<li class='pull-right'>
							<%= link_to monthly_jobs_path do %>
								<span class='badge pf-span'>
									Mensal
								</span>
							<% end %>
						</li>
						<li class='pull-right'>
							<%= link_to weekly_jobs_path do %>
								<span class='badge pf-span'>
									Semanal
								</span>
							<% end %>
						</li>	
						<li class='pull-right'>
							<%= link_to daily_jobs_path do %>
								<span class='badge pf-span'>
									Diaria
								</span>
							<% end %>
						</li>	
					</ul>
				</div>

        <div id='jobCounter'>
          <div class="row">
            <div class="col-md-12">
              <div class='panel panel-default'>
                <div class='panel-body'>
                  <h4 class='bold uppercase text-center'>
                    <%= @jobs.count %> Vaga(s) Encontrada(s)
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="jobAlert">
          <div class="panel panel-default">
            <div class="panel-body">
              <%= form_for(:alert, { url: alert_path, method: :post}) do |f| %>
                <div class="col-md-4">
                  <h4 class='bold'>
                    Receber email para esse tipo de vagas
                  </h4>
                </div>
                <div class="col-md-5">
                  <%= f.email_field :email, class: 'form-control',
                  required: 'required', placeholder: 'Digite o e-mail',autocomplete: 'off' %>
                </div>
                <div class="col-md-3 text-center">
                  <%= f.submit 'Criar Alerta', 
                  class: 'btn btn-primary btn-lg top jobBtn' %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        
				<div id="job-list">
					<%= render @jobs %>

					<% if @jobs.empty? %>
						<p class='well text-center'>
							Desculpe, Nenhuma vaga foi adicionada ainda.
						</p>
					<% end %>
				</div>

				<div id="pagination">
					<div class='text-center'>
						<%= paginate(@jobs) %>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<%= render partial: 'shared/testimonials' %>

<%= render partial: 'shared/news' %>