<section id="news">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-3 col-md-offset-1">
          <h2 class='bold uppercase text-right'>Acompanhe-nos
          na <span class='alternative'>Mídia</span></h2>

          <p class='text-right'>Acompanhe <span class='bold'>matérias</span> 
            referente a nosso projeto na <u class='bold'>imprensa</u>.</p>
        </div>

        <div class="col-md-8">
          <div class='row' style='padding-top: 30px;'>
            <div class="col-md-offset-1 col-md-2 text-center">
              <%= image_tag('default.jpg', class: 'logo') %>
            </div>
            <div class="col-md-2 text-center">
              <%= image_tag('media/gruposepe.jpeg', class: 'logo') %>
            </div>
            <div class="col-md-2 text-center">
              <%= image_tag('media/folhadesb.png', class: 'logo') %>
            </div>
            <div class="col-md-2 text-center">
              <%= image_tag('media/cp.jpeg', class: 'logo') %>
            </div> 
            <div class="col-md-2 text-center">
              <%= image_tag('media/gzh.jpeg', class: 'logo') %>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>
</section>