<%= provide :title, '' %>
<%= provide :description, '' %>
<%= provide :keywords, '' %>
<%= provide :ld_json, {} %>

<%= render partial: 'shared/company_presenter' %>

<section id="content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div id="company-list" style="margin-top: 30px;">
					<div class='row'>
            <div class='col-md-10 col-md-offset-1'>
						  <%= render @companies %>

              <% if @companies.empty? %>
              <div class='col-md-12'>
                <p class="well text-center">
                  <span class='bold'>
                  <i class="fa-solid fa-face-frown"></i>
                  Desculpe-nos</span>, mas nenhuma empresa 
                  foi encontrada no <u class='bold'>processo de busca</u>.
                </p>
              </div>
              <% end %>
            </div>
					</div>
				</div>

				<div id="pagination">
					<div class='row'>
						<div class='text-center'>
							<%= paginate(@companies) %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<%= render partial: 'shared/news' %>