<%= provide :title, '' %>
<%= provide :description, '' %>
<%= provide :keywords, '' %>
<%= provide :ld_json, {} %>

<section id="presenter">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-12">
						<%= link_to companies_path, 
							class: 'btn btn-primary btn-lg top' do %>
							<i class="fa-solid fa-circle-chevron-left"></i>
							Voltar
						<% end %>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<ul class="list-unstyled">
              <%= image_tag(has_avatar?(@company), 
              id: 'company-logo') %>
							<li><h2 class='bold'><%= @company.name %></h2></li>
							<ul class="list-unstyled list-inline">
								<li>
									<p class='company-subtitle'>
										<i class="fa-solid fa-location-dot"></i>
										<%= is_present?(@company.location, 'Não Informado') %>
									</p>
								</li>
								<li>
									<p class='company-subtitle'>
										<i class="fa-solid fa-earth-americas"></i>
										<%= link_to is_present?(@company.website, 'Não Informado'), 
                      is_present?(@company.website, '#'), 
                      target: '_blank' %></li>
									</p>
							</ul>
              <ul id='company-social' 
                  class='list-unstyled list-inline'>
                <li>
                  <%= link_to is_present?(@company.facebook, '#'),
                    target: '_blank' do %>
                    <i class="fa-brands fa-facebook-square"
                    title="<%= @company.name %> | Facebook"></i>
                  <% end %>
                </li>
                <li>
                  <%= link_to is_present?(@company.instagram, '#'),
                    target: '_blank' do %>
                    <i class="fa-brands fa-instagram"
                    title="<%= @company.name %> | Instagram"></i>
                  <% end %>
                </li>
                <li>
                  <%= link_to is_present?(@company.twitter, '#'),
                    target: '_blank' do %>
                    <i class="fa-brands fa-twitter" 
                    title="<%= @company.name %> | Twitter"></i>
                  <% end %>
                </li>
                <li>
                  <%= link_to is_present?(@company.linkedin, '#'),
                    target: '_blank' do %>
                    <i class="fa-brands fa-linkedin"
                    title="<%= @company.name %> | Linkedin"></i>
                  <% end %>
                </li>
              </ul>
						</ul>						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-8"><br />

					<ul class="nav nav-tabs" role="tablist">
				    <li role="presentation" class="active">
              <a href="#about" aria-controls="about" 
                 role="tab" data-toggle="tab">
                 <i class="fa-solid fa-circle-info"></i> 
                 Descrição da Empresa
              </a>
            </li>
            <li>
              <a href='#photos' aria-control='photos' 
                 role='tab' data-toggle='tab'>
                 <i class="fa-solid fa-camera"></i>
                 Fotos
              </a>
            </li>
				    <li role="presentation">
              <a href="#jobs" aria-controls="jobs" 
                 role="tab" data-toggle="tab">
                 <i class="fa-solid fa-briefcase"></i>
                 Vagas (<%= @company.jobs.available.count %>)</a>
            </li>
            <li role='presentation'>
              <a href='#review' aria-controls='review' 
                 role='tab' data-toggle='tab'>
                 <i class="fa-solid fa-star"></i>
                 Avaliações
              </a>
            </li>
            <li role='presentation'>
              <a href='#faq' aria-controls='faq' 
                 role='tab' data-toggle='tab'>
                 <i class="fa-solid fa-circle-question"></i> 
                 Perguntas
              </a>
            </li>
				  </ul>

				  <div class="tab-content"><br />
				    <div role="tabpanel" class="tab-pane active" id="about">
              <div class='panel panel-default'>
                <div class='panel-body'>
    				    	<% if !@company.about.blank? %>
                    <%= raw(@company.about) %>
                  <% else %>
    				        <p class="well text-center">
                      Nenhuma informação foi encontrada.
                    </p>
                  <% end %>
                </div>
              </div>
            </div>
				    
				    <div role="tabpanel" class="tab-pane" id="photos">
              <br />

              <p class="well text-center">
                Em breve...
              </p>
				    </div>

            <div role="tabpanel" class="tab-pane" id="jobs">
              <br />

              <% if !@company.about.blank? %>
                <%= raw(@company.about) %>
              <% else %>
                <p class="well text-center">
                  Nenhuma informação foi encontrada.
                </p>
              <% end %>
            </div>

            <div role="tabpanel" class="tab-pane" id="review">
              <br />

              <p class="well text-center">
                Em breve...
              </p>
            </div>

            <div role="tabpanel" class="tab-pane" id="faq">
              <br />

              <p class="well text-center">
                Em breve...
              </p>
            </div>
				  </div>
				</div>

				<div class="col-md-4">
					<div id="jobAlertForm">
						<div class="panel panel-default" style='margin-top: -50px;'>
							<div class="panel-body">
								<h4 class='text-center bold'>Envie-me vagas
									de <%= @company.name %></h4>
									<br>

									<%= form_for(:newsletter) do |f| %>

										<div class="field">
											<%= f.text_field :email, class: 'form-control',
											required: 'required', placeholder: 'Digite o e-mail',
											autocomplete: 'off' %>
										</div>
 
										<div class="field"><br />
											<%= f.select(:type, {
												'Diario'  => 'dailly',
												'Semanal' => 'weekly',
												'Mensal'  => 'monthly'
											}, 
											{ prompt: 'Selecionar Plano' }, 
											{ class: 'form-control', required: 'required' }) %>
										</div>

										<div class="field"><br />
											<%= f.submit 'Criar alerta', 
												class: 'btn btn-primary btn-lg top',
												style: 'width: 100%;' %>
										</div>
									<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<%= render partial: 'shared/news' %>