<footer id='footer'>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="text-center">
					<ul class="list-unstyled">
						<li><h4>&copy 2022 - <%= Date.today.year %> | Portal Fronteiriço</h4></li>
						<ul class="list-unstyled list-inline">
							<li>
								<%= link_to 'https://facebook.com/portalfronteirico', 
									title: 'Facebook | Portal Fronteiriço', target: '_blank' do %>
									<i class="fa-brands fa-facebook"></i>
								<% end %>
							</li>
							<li>
								<%= link_to 'https://instagram.com/portalfronteirico', 
									title: 'Instagram | Portal Fronteiriço', target: '_blank' do %>
									<i class="fa-brands fa-instagram"></i>
								<% end %>
							</li>
							<li>
								<%= link_to 'https://linkedin.com/company/portalfronteirico', 
									title: 'Linkedin | Portal Fronteiriço', target: '_blank' do %>
									<i class="fa-brands fa-linkedin"></i>
								<% end %>
							</li>
							<li>
								<%= link_to 'https://youtube.com/portalfronteirico', 
									title: 'Youtube | Portal Fronteiriço', target: '_blank' do %>
									<i class="fa-brands fa-youtube"></i>
								<% end %>
							</li>
							<li>
								<%= link_to '', 
									title: 'WhatsApp | Portal Fronteiriço', target: '_blank' do %>
									<i class="fa-brands fa-whatsapp"></i>
								<% end %>
							</li>	
						</ul>
						<li><p>Todos os direitos reservados</p></li>
						<li><p>Feito em São Borja - RS</p></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>