<header id="header">
	<nav class="navbar navbar-default">
  <div class="container container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%= link_to root_path, 
        class: 'navbar-brand' do %>
          <%= image_tag('https://res.cloudinary.com/portal-fronteiri-o/image/upload/v1644810323/pfjobs-production/logo_ytlfkp.png', class: 'logo') %>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Vagas', jobs_path %></li>
        <li><%= link_to 'Empresas', companies_path %></li>
        <!--
        <% if !current_user %>
        <li><%= link_to 'Candidatos', new_user_session_path %></li>
        <% end %>
        -->
        <!--
        <li><%= link_to 'Cursos', '' %></li>
        <li><%= link_to 'Curriculos', '' %></li>
        <li><%= link_to 'Contato', '' %></li>
        --> 
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if current_company %>
        <li class='text-right welcome'>
          <span class='bold uppercase'>Olá, seja Bem vindo(a)</span><br>
          <i class="fa-solid fa-building"></i> <%= current_company.name %>
        </li>
        <li>
          <%= image_tag(has_avatar?(current_company), class: 'avatar') %>
        </li>
        <li>
          <%= link_to new_job_path,
            class: 'btn btn-primary btn-lg top jobBtn' do %>
              <i class="fa-solid fa-pencil"></i>
              Postar Vaga
          <% end %>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Minha Conta <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to edit_company_registration_path do %>
                <i class="fa-solid fa-pen-to-square"></i>
                Editar Dados
              <% end %>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <%= link_to destroy_company_session_path, 
                method: :delete do %>
                  <i class="fa-solid fa-power-off"></i>
                   Sair
              <% end %>
            </li>
          </ul>
        </li>
        <% else %>
        <li><%= link_to 'Criar Conta', new_company_registration_path %></li>
        <li><%= link_to 'Entrar', new_company_session_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</header>